<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
      <perfect-scrollbar [scrollIndicators]="false">
          <div id="sidebar-menu" class="sidebar-menu">
              <ul *ngIf="sidebarMenus.default">
                  <li class="menu-title">
                      <span>Main</span>
                  </li>

                  <li class="active" [ngClass]="{ 'active' : urlComplete.subUrl === 'my-account' && urlComplete.mainUrl === 'my-account' }">
                    <a href="/acc" (click)="onNavigateRoutor('/acc/my-account/')">
                      <i class="la la-files-o"></i>
                      <span>Khmer</span>
                    </a>
                  </li>

                  <li [ngClass]="{ 'active' :  urlComplete.mainUrl === 'thia' }">
                    <a href="/acc" (click)="onNavigateRoutor('/acc/my-account/')">
                      <i class="la la-files-o"></i>
                      <span>Thai</span>
                    </a>
                  </li>

                  <li [ngClass]="{ 'active' : urlComplete.mainUrl === 'chiness' }">
                    <a href="/acc" (click)="onNavigateRoutor('/acc/my-account/')">
                      <i class="la la-files-o"></i>
                      <span>Chiness</span>
                    </a>
                  </li>

                  <li [ngClass]="{ 'active' : urlComplete.mainUrl === 'koran' }">
                    <a href="/acc" (click)="onNavigateRoutor('/acc/my-account/')">
                      <i class="la la-files-o"></i>
                      <span>Korean</span>
                    </a>
                  </li>



              </ul>

          </div>
      </perfect-scrollbar>
  </div>
</div>
<!-- /Sidebar -->
